# Node
node_modules/

# Build
.next/
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Misc
*.swp
*.swo

# Test
coverage/

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Output
out/
